// Color
$very-dark-gray: #161616;
$dark-gray: #626262;
$light-blue: #45a3ff;
$black-blue: #001326;

// Font Size
$large-font: 2.5rem;
$medium-font: 1.5rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;